@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Fluid */
  font-size: clamp(62.5%, 2.66667vw, 100%);
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-serif);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: var(--font-forum-serif);
  --font-sans: var(--font-dm-sans);
  --font-mono: var(--font-plex-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141414;
    --foreground: #fff;
  }
}

@media (min-width: 768px) {
  :root {
    font-size: max(62.5%, 0.694444vw);
  }
}

html,
body {
  overscroll-behavior-y: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  font-size: 1.6rem;
}
